.callout-product {
  border-top: 3px solid $facebook-color;
  .number {
    font-family: $header-font-family;
    font-size: 300%;
  }
}

.callout-avatar {
  img {
    border-radius: 100%;
    border: 1px solid $medium-gray;
  }
}
