.hero,
.footer {
  padding: 4rem 0;
}

.footer {
  margin-top: 2rem;
  border-top: 1px solid #F1EEEA;
  background-color: $white;
}

.call-to-action {
  background-size: cover;
  background-position: bottom center;
  .row {
    min-height: 650px;
  }
}
