<meta charset="utf-8">
<title>The ultimate Backpack list</title>
<meta name="description" content="You want to travel but you don't know where to start. Our amazing team is here to help you!">
<meta name="robots" content="index, follow">
<meta name="author" content="David Leuliette">

<!-- Open graph -->
<meta property="og:type" content="article">
<meta property="og:title" content="The ultimate Backpack list">
<meta property="og:site_name" content="Backpack list">
<meta property="og:url" content="https://flexbox.github.io/backpacklist/">
<meta property="og:image" content="IMAGE A COMPLETER">
<meta property="article:author" content="https://m.me/backpacklist">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@_flexbox">
<meta name="twitter:title" content="Ultimate backpack list 🎒">
<meta name="twitter:description" content="You want to travel but you don't know where to start. Our amazing team is here to help you!">
